@model ONPE_2016.Models.polling_place

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>polling_place</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.polling_place_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
