<div class="=four-zero-content">
    <div class="four-zero">
        <h2>401</h2>
        <small>Si es un error, por favor contacte a su administrador</small>

        <footer>
            <a href="@Url.Action("Dashboard","Home")"><i class="md md-home"></i></a>
        </footer>
    </div>
</div>